body, html {
	margin: 0;
	padding: 0;
}

body {
	background: #666666;
	color: #FFFFFF;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p, nav, ol, ul, li, table, thead, tbody, tr, td, th {
	font: 1em sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}

button {
	user-select: none;
}

header {
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

nav {
	position: sticky;
	top: 0;
	left: 0;
	padding: 0 10px;
	background: #333333;
	z-index: 100;
	user-select: none;
	margin-bottom: 20px;
}

nav li {
	display: inline-block;
	position: relative;
	font-size: 0.9em;
	padding: 5px 15px;
	height: 30px;
	vertical-align: top;
}

nav li:before {
	position: absolute;
	left: -2px;
	width: 10px;
	height: 30px;
	line-height: 34px;
	font-size: 20px;
	content: "\232A";
}

nav ol>a:link, nav ol>a:visited, nav ol>a:active, nav ol>a:hover {
	color: inherit;
	text-decoration: none;
}

nav a li:hover {
	background: rgba(255, 255, 255, 0.1);
}

nav li p {
	font-size: 0.7em;
	color: #CCCCCC;
}

nav a:link, nav a:visited {
	color: inherit;
	text-decoration: underline;
}

nav a:active, nav a:hover {
	color: inherit;
	text-decoration: none;
}

header p {
	font-family: monospace;
	font-size: 0.8em;
	margin-top: -0.2em;
	margin-left: 2px;
	color: #DDDDDD;
}

h1 a:link, h1 a:visited,
h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited {
	color: inherit;
	text-decoration: none;
}

h1 a:active, h1 a:hover,
h2 a:active, h2 a:hover,
h3 a:active, h3 a:hover,
h4 a:active, h4 a:hover {
	color: inherit;
	text-decoration: underline;
}

.initial-load, .error {
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	width: 400px;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
}

.error.wide {
	width: 800px;
	max-width: 90%;
}

.error button {
	margin: 10px 10px 0;
}

.error pre {
	font-size: 0.8em;
	text-align: left;
	overflow: auto;
}

.initial-load .message {
	font-size: 0.8em;
	margin-bottom: 5px;
}

.initial-load .bar-back {
	height: 6px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

.initial-load .bar-filled {
	background: #FFFFFF;
}

.error {
	text-align: center;
}

.team-manager, .popup-team-manager {
	background: #FFFFFF;
	color: #333333;
}

.team-manager {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: 1px solid #333333;
}

.popup-team-manager {
	border-top: 1px solid #333333;
}

.team-table-hold {
	border-right: 1px solid #333333;
	overflow: auto;
}

.team-table {
	background: #FFFFFF;
	font-size: 0.7em;
	color: #333333;
	width: 100%;
	user-select: none;
}

.team-table th {
	background: #DDDDDD;
	position: sticky;
	padding: 4px 5px;
	top: 0;
	z-index: 1;
}

.team-table tbody tr {
	cursor: pointer;
}

.team-table tbody tr:nth-child(even) {
	background: #FAFAFA;
}

.team-table td {
	padding: 2px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
}

.team-table .team td {
	font-weight: bolder;
	background: #EEEEEE;
}

.team-table .enabled-opt {
	text-align: right;
}

.team-table tbody tr.selected {
	background: #CCCCCC;
}

.team-table tbody tr.selected.changed {
	background: #CCCCAA;
}

.team-table tbody tr.changed {
	background: #FFFFCC;
}

.team-table .warning td:first-child:after, .team-table .disqualified td:first-child:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	border-radius: 100%;
}

.team-table .warning td:first-child:after {
	background: #EEEE00;
}

.team-table .disqualified td:first-child:after {
	background: #EE0000;
}

.game-page.fixed-size {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
}

.game-page.fixed-size .game-page-content {
	padding-top: 20px;
	overflow: auto;
}

.options-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	padding: 5px 15px;
	border-bottom: 1px solid #333333;
	box-sizing: border-box;
	background: #EEEEEE;
	user-select: none;
	font-size: 0.9em;
	color: #333333;
}

.options-bar button {
	margin: 0 5px;
}

.options-bar .close, .options-bar .general-options {
	float: right;
}

.options-bar label {
	margin-right: 20px;
}

.options-bar input[type="text"] {
	width: 250px;
	margin-left: 10px;
	border: 1px solid #333333;
	padding: 3px 5px;
}

.entry-editor {
	font-size: 0.9em;
}

.entry-editor-empty {
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	color: #666666;
	font-size: 1.2em;
	line-height: 1.5em;
	overflow: auto;
}

.entry-editor-empty h1 {
	font-size: 1.3em;
	margin: 50px 50px 40px;
}

.entry-editor-empty ul {
	margin: 0 50px 30px 80px;
}

.entry-editor-empty li {
	margin-bottom: 20px;
	list-style: disc;
}

.entry-editor-empty div {
	margin-top: 5px;
	font-size: 0.8em;
}

.code-editor {
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
}

.code-editor textarea, .code-editor .CodeMirror {
	width: 100%;
	height: 100%;
}

.code-editor textarea {
	border: none;
	padding: 5px;
	font-family: monospace;
	resize: none;
}

.info-box {
	padding: 5px;
	border-left: 1px solid #333333;
	word-wrap: break-word;
	font-family: monospace;
	overflow: auto;
}

.console-box {
	padding: 5px;
	border-top: 1px solid #333333;
	word-wrap: break-word;
	font-family: monospace;
	overflow: auto;
	white-space: pre-wrap;
}

.cm-trailingspace {
	background: rgba(255, 0, 0, 0.5);
}

.cm-tab {
	position: relative;
}

.cm-tab:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "\00BB";
	opacity: 0.2;
}

.CodeMirror-linenumber {
	padding-top: 0.2em !important;
	font-size: 0.8em;
}

header .bar-back {
	height: 4px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 2px;
}

header .bar-filled {
	background: #FFFFFF;
}

header .bar-done {
	opacity: 0;
	margin-bottom: -4px;
	transition: opacity 0.3s ease, margin-bottom 0.3s ease;
}

.tournament {
	margin: 10px;
}

.match {
	margin: 20px;
	display: inline-block;
}

.match th {
	vertical-align: bottom;
	font-size: 0.7em;
	padding: 0 5px 2px;
	min-width: 40px;
}

.match th header {
	font-size: 1.4em;
}

.match th header p {
	font-size: 0.7em;
}

.match tbody {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
	color: #333333;
}

.match td {
	border: 1px solid #333333;
	padding: 0 4px;
	text-align: right;
	font-size: 0.8em;
}

.match th.player {
	padding: 0 0 5px;
	min-width: 150px;
}

.match th.game {
	padding: 0 2px 2px;
}

.match th.result {
	min-width: 40px;
}

.match th.certainty {
	min-width: 50px;
}

.match td.player {
	padding: 5px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

.match td.game {
	text-align: center;
	padding: 0 10px;
}

.match td.result {
	text-align: center;
	padding: 0 12px;
}

.match td.certainty {
	text-align: right;
	padding: 0 5px;
}

.match .win {
	font-size: 1em;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
	background: rgba(255, 255, 255, 0.05);
}

.match .loss {
}

.match .disqualified .player {
	text-decoration: line-through;
}

.match .disqualified {
	color: rgba(51, 51, 51, 0.6);
}

.match tbody tr {
	background: #DDDDDD;
}



.match .team-T0 {
	background: #DD9999;
}

.match .team-T1 {
	background: #9999DD;
}

.match .team-T2 {
	background: #99DD99;
}


.match .team-T3 {
	background: #DD99DD;
}

.match .team-T4 {
	background: #99DDDD;
}

.match .team-T5 {
	background: #DDDD99;
}


.match .team-T6 {
	background: #BB99DD;
}

.match .team-T7 {
	background: #99DDBB;
}

.match .team-T8 {
	background: #DDBB99;
}


.match .team-T9 {
	background: #99BBDD;
}

.match .team-T10 {
	background: #BBDD99;
}

.match .team-T11 {
	background: #DD99BB;
}


.match .team-T12 {
	background: #99AADD;
}

.match .team-T13 {
	background: #AADD99;
}

.match .team-T14 {
	background: #DD99AA;
}


.match .team-T15 {
	background: #99DDCC;
}

.match .team-T16 {
	background: #DDCC99;
}

.match .team-T17 {
	background: #CC99DD;
}


.match .team-T18 {
	background: #99DDAA;
}

.match .team-T19 {
	background: #DDAA99;
}

.match .team-T20 {
	background: #AA99DD;
}


.match .team-T21 {
	background: #CCDD99;
}

.match .team-T22 {
	background: #DD99CC;
}

.match .team-T23 {
	background: #99CCDD;
}


.match .team-T24 {
	background: #DD7777;
}

.match .team-T25 {
	background: #7777DD;
}

.match .team-T26 {
	background: #77DD77;
}


.match .team-T27 {
	background: #DD77DD;
}

.match .team-T28 {
	background: #77DDDD;
}

.match .team-T29 {
	background: #DDDD77;
}


/* Work around https://github.com/codemirror/CodeMirror/issues/4937 */
.CodeMirror-search-field {
	width: 10em;
}

.CodeMirror-search-hint {
	color: #888888;
}
