.game-container {
	position: relative;
	padding: 10px;
	background: #999999;
	margin: 10px;
	float: left;
}

.game-board canvas {
	image-rendering: pixelated;
}

.options {
	color: #333333;
	font-size: 0.8em;
	margin: 5px -5px;
}

.options:first-child {
	margin-top: -5px;
}

.options label {
	margin-left: 10px;
}

.options button, .options select {
	margin: 0 5px;
}

.options .semidestructive {
	margin-right: 10px;
}

.options .frames {
	margin: 0 10px;
}

.options .frame {
	display: inline-block;
	min-width: 50px;
	text-align: right;
}

.options .frames input[type=number] {
	width: 70px;
	text-align: right;
}

.options input.seed-entry {
	width: 150px;
	font: 0.9em monospace;
	vertical-align: top;
}

.options .play-speed {
	margin: 0 10px;
}

.options .play-speed button {
	margin: 0;
}

.options .performance {
	display: inline-block;
	font-size: 0.8em;
	vertical-align: -5px;
	margin: 0 10px;
}

.options .metric {
	font: 1.1em monospace;
}

.options .destructive {
	margin: 5px 0 0 10px;
	float: right;
}

.fouls {
	margin: 20px;
	border-collapse: collapse;
	display: inline-block;
	background: #FFFFFF;
	color: #444444;
	font-size: 0.8em;
	vertical-align: top;
	max-width: 500px;
}

.fouls td, .fouls th {
	border: 1px solid #444444;
	padding: 5px;
}

.fouls .foul-reason {
	max-width: 350px;
	word-wrap: break-word;
	font-family: monospace;
}

.fouls .foul-warn {
	background: #FFFFDD;
}

.fouls .foul-error {
	background: #FFDDDD;
}
