.game-board canvas {
	image-rendering: -moz-crisp-edges; /* WORKAROUND (Firefox) */
	image-rendering: pixelated;
}

.game-board .mark.bot-locator-pointer {
	background: #EEEEEE;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 100%;
	border-top-left-radius: 0;
	text-align: center;
	opacity: 0.9;
	overflow: hidden;
}

.game-board .mark.bot-locator-pointer {
	font-size: 12px;
	width: 14px;
	height: 14px;
	z-index: 1;
}

.game-board .mark.bot-locator-pointer:after {
	content: "\01F916";
	position: relative;
	top: -3px;
}

.game-board .mark.bot-locator-pointer.dead:after {
	content: "\01F480";
}
