.game-board .mark.cell {
	z-index: 1;
}

.game-board .mark.cell:before {
	content: "";
	display: block;
	width: 80%;
	height: 80%;
	margin: 10%;
	border-radius: 100%;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.5);
}

.game-board .mark.token {
	z-index: 2;
	font-size: 20px;
	line-height: 0;
	text-align: center;
	color: #FFFFFF;
}

.game-board .mark.token:before {
	content: "";
	display: block;
	width: 80%;
	height: 80%;
	margin: 10% 10% -40%;
	border-radius: 100%;
	box-sizing: border-box;
	box-shadow:
		inset 0 -5px 20px rgba(0, 0, 0, 0.2),
		0 2px 4px rgba(0, 0, 0, 0.2);
}

.game-board .mark.C0:before {
	background: #EE4422;
}

.game-board .mark.C1:before {
	background: #66EE22;
}

.game-board .mark.C2:before {
	background: #2266EE;
}

.game-board .mark.bot {
	margin: -15px;
	width: 30px;
	height: 30px;
	z-index: 3;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	transition: top 0.1s, left 0.1s;
}

.game-board .mark.bot.focussed {
	font-size: 30px;
	text-shadow: 0 0 4px rgba(255, 255, 0, 1);
	z-index: 4;
}

.game-board .mark.bot:before {
	content: "\01F916";
	position: relative;
	top: 2px;
}
