.game-board .mark.zoom-locator {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.game-board .mark.zoom-locator-fixed {
	box-shadow:
		inset 0 0 0 1px rgba(0, 0, 0, 0.7),
		0 0 0 1px rgba(255, 128, 0, 1),
		0 0 0 2px rgba(0, 0, 0, 0.4),
		0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.game-board .mark.queen-locator-ring {
	margin: -3px;
	width: 7px;
	height: 7px;
	border: 1px solid rgba(255, 128, 0, 0.5);
	border-radius: 100%;
	box-sizing: border-box;
}

.game-board .mark.next-mover-locator-pointer,
.game-board .mark.queen-locator-pointer,
.game-board .mark.worker-locator-pointer,
.game-board .mark.food-locator-pointer {
	background: #EEEEEE;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 100%;
	border-top-left-radius: 0;
	text-align: center;
	opacity: 0.9;
	overflow: hidden;
}

.game-board .mark.next-mover-locator-pointer {
	font-size: 12px;
	width: 14px;
	height: 14px;
	z-index: 4;
}

.game-board .mark.next-mover-locator-pointer:after {
	content: '\2605';
	position: relative;
	font-size: 0.9em;
	top: -1px;
	color: #FF0000;
}

.game-board .mark.queen-locator-pointer {
	font-size: 12px;
	width: 14px;
	height: 14px;
	z-index: 3;
}

.game-board .mark.queen-locator-pointer:after {
	content: '\01F451';
	position: relative;
	top: -4px;
}

.game-board .mark.worker-locator-pointer {
	font-size: 10px;
	width: 12px;
	height: 12px;
	z-index: 2;
}

.game-board .mark.worker-locator-pointer:after {
	content: '\01F477';
	position: relative;
	top: -2px;
}

.game-board .mark.food-locator-pointer {
	font-size: 8px;
	width: 10px;
	height: 10px;
	z-index: 1;
}

.game-board .mark.food-locator-pointer:after {
	content: '\01F352';
	position: relative;
	top: -2px;
}


.zoomed-board {
	display: none;
	position: absolute;
	z-index: 5;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin: -5px 10px;
	background: #808080;
}
.zoomed-board.right {
	display: block;
	right: 0;
}
.zoomed-board.left {
	display: block;
	left: 0;
}

.zoomed-board.fixed {
	box-shadow:
		0 0 0 1px rgba(0, 0, 0, 0.7),
		0 0 0 3px rgba(255, 128, 0, 1),
		0 0 0 4px rgba(0, 0, 0, 0.7),
		0 0 10px 4px rgba(0, 0, 0, 0.5);
}

.zoomed-board canvas {
	image-rendering: -moz-crisp-edges; /* WORKAROUND (Firefox) */
	image-rendering: pixelated;
	transform-origin: top left;
	-webkit-transform-style: preserve-3d;
}

.zoomed-board .mark {
	position: absolute;
}

.zoomed-board .mark:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 1em;
	text-align: center;
}

.zoomed-board .mark.queen-cell:before {
	content: '\01F451';
}

.zoomed-board .mark.worker-cell:before {
	content: '\01F477';
}

.zoomed-board .mark.laden-worker-cell:before {
	content: '\01F3CB';
}

.zoomed-board .mark.food-cell:before {
	content: '\01F352';
}

.zoomed-board .team:after {
	content: '';
	position: absolute;
	bottom: 2px;
	right: 2px;
	width: 4px;
	height: 4px;
	border: 1px solid #000000;
	background: #DDDDDD;
}

.zoomed-board .team-T0:after {
	background: #DD9999;
}

.zoomed-board .team-T1:after {
	background: #9999DD;
}

.zoomed-board .team-T2:after {
	background: #99DD99;
}


.zoomed-board .team-T3:after {
	background: #DD99DD;
}

.zoomed-board .team-T4:after {
	background: #99DDDD;
}

.zoomed-board .team-T5:after {
	background: #DDDD99;
}


.zoomed-board .team-T6:after {
	background: #BB99DD;
}

.zoomed-board .team-T7:after {
	background: #99DDBB;
}

.zoomed-board .team-T8:after {
	background: #DDBB99;
}


.zoomed-board .team-T9:after {
	background: #99BBDD;
}

.zoomed-board .team-T10:after {
	background: #BBDD99;
}

.zoomed-board .team-T11:after {
	background: #DD99BB;
}


.zoomed-board .team-T12:after {
	background: #99AADD;
}

.zoomed-board .team-T13:after {
	background: #AADD99;
}

.zoomed-board .team-T14:after {
	background: #DD99AA;
}


.zoomed-board .team-T15:after {
	background: #99DDCC;
}

.zoomed-board .team-T16:after {
	background: #DDCC99;
}

.zoomed-board .team-T17:after {
	background: #CC99DD;
}


.zoomed-board .team-T18:after {
	background: #99DDAA;
}

.zoomed-board .team-T19:after {
	background: #DDAA99;
}

.zoomed-board .team-T20:after {
	background: #AA99DD;
}


.zoomed-board .team-T21:after {
	background: #CCDD99;
}

.zoomed-board .team-T22:after {
	background: #DD99CC;
}

.zoomed-board .team-T23:after {
	background: #99CCDD;
}


.zoomed-board .team-T24:after {
	background: #DD7777;
}

.zoomed-board .team-T25:after {
	background: #7777DD;
}

.zoomed-board .team-T26:after {
	background: #77DD77;
}


.zoomed-board .team-T27:after {
	background: #DD77DD;
}

.zoomed-board .team-T28:after {
	background: #77DDDD;
}

.zoomed-board .team-T29:after {
	background: #DDDD77;
}
