/* Full2DBoard, Full3DBoard */

.game-board, .game-board-3d {
	position: relative;
}

.game-board-clip {
	position: relative;
	overflow: hidden;
}

.game-board canvas {
	transform-origin: top left;
	-webkit-transform-style: preserve-3d;
}

.game-board .mark {
	position: absolute;
	pointer-events: none;
}

/* Loader */

.loader {
	user-select: none;
}

.loader .message:before {
	content: "Loading ";
}

.loader .message:after {
	content: "\2026";
}

.bar-back {
	position: relative;
	overflow: hidden;
}

.bar-filled {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

/* HierarchyTable */

.hierarchy-table {
	border-collapse: collapse;
}

.hierarchy-table td:not(:first-child) {
	border-left-width: 0;
}

.hierarchy-table .autohide {
	box-sizing: border-box;
	white-space: nowrap;
	transition: opacity 0.15s, padding 0.15s, max-width 0.2s;
}

.hierarchy-table:not(:hover):not(.expanded) .autohide {
	padding-left: 0;
	padding-right: 0;
	border-left-width: 0;
	border-right-width: 0;
	opacity: 0;
	max-width: 0;
}

.hierarchy-table:hover .autohide, .hierarchy-table.expanded .autohide {
	max-width: 100px;
	transition: opacity 0.3s ease, padding 0.2s ease, max-width 0.3s ease;
}

/* TreeTable */

.tree-table {
	border-collapse: collapse;
}

/* SplitView */

.split-view.horiz > * {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.split-view.vert > * {
	display: block;
}

.split-view.fixed-size > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.split-view > .handle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.split-view.horiz > .handle {
	width: 8px;
	margin-left: -4px;
	cursor: col-resize;
}

.split-view.vert > .handle {
	height: 8px;
	margin-top: -4px;
	cursor: row-resize;
}
